[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third_party/function2"]
	path = third_party/function2
	url = https://github.com/Naios/function2.git
